#firstheading {
    text-align: center;
    font-family: Inter, Roboto, Arial, sans-serif;
    font-size: 25px;
    color: rgb(59, 56, 56);
  }
  #Onlyatnykaa {
    width: 85%;
    /* border: 1px solid red; */
    margin: -20px auto 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }
  #Onlyatnykaa > div {
    /* border: 1px solid blue; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
  }
  #Onlyatnykaa > div:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  #Onlyatnykaa > div > img {
    width: 100%;
  }

  #second {
    width: 500px;
    height: 100px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    top: 44%;
    left: 10%;
  }
  #fourth {
    width: 500px;
    height: 100px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    top: 44%;
    left: 53%;
  }
  #sixth {
    width: 500px;
    height: 100px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    top: 98%;
    left: 10%;
  }
  #eighth {
    width: 500px;
    height: 100px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    top: 98%;
    left: 53%;
  }
  #second>h3,h4{
    text-align: center;
    
  }
  #fourth>h3,h4{
    text-align: center;
  }
  #sixth>h3,h4{
    text-align: center;
  }
  #eighth>h3,h4{
    text-align: center;
  }

  /* ---------------------------------------------------------------- */
  #secondheading {
    text-align: center;
    font-family: Inter, Roboto, Arial, sans-serif;
    font-size: 25px;
    color: rgb(59, 56, 56);
  }
  /* *,
  *:before,
  *:after {
    box-sizing: border-box;
  } */
  .container {
    margin-top: -15px;
  }

  .carousel {
    position: relative;
    width: 85%;
    height: 300px;
    margin: 0 auto;
  }

  .carousel-content {
    position: relative;
    overflow: hidden;
    transition: width 0.4s;
    height: 100%;
  }

  .slide {
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: left 0.4s cubic-bezier(0.47, 0.13, 0.15, 0.89);
    margin-right: 10px;
  }
  .nav {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    background-color: white;
    width: 50px;
    height: 50px;
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    color: white;
    /* -webkit-user-select: none; */
  }

  .nav-left {
    left: 5px;
  }

  .nav-right {
    right: 5px;
  }

  .carousel-arrow-icon-left {
    margin-left: 15px;
    margin-top: 10px;
    color: black;
    font-size: 25px;
    font-weight: bolder;
  }

  .carousel-arrow-icon-right {
    margin-left: 20px;
    margin-top: 10px;
    color: black;
    font-size: 25px;
    font-weight: bolder;
  }
  .slide > img {
    width: 98%;
    height: 100%;
    display: block;
    border-radius: 5px;
  }
  /* -------------------------------------------------------------------------------- */
  #thirdheading {
    text-align: center;
    font-family: Inter, Roboto, Arial, sans-serif;
    font-size: 25px;
    color: rgb(59, 56, 56);
  }
  img~h4 {
    text-align: center;
    margin-top: -15px;
  }
  img~h3 {
    text-align: center;
    margin-top: 25px;
    color: #fc91a8;
  }
  .scrollmenu {
    width: 85%;
    /* border: 1px solid black; */
    margin: -15px auto;
    overflow: auto;
    white-space: nowrap;
  }
  .scrollmenu > div {
    display: inline-block;
    width: 250px;
    /* border: 1px solid grey; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .scrollmenu > div > img {
    width: 60%;
    height: 150px;
    display: block;
    margin: 0px auto 15px;
  }
  .scrollmenu > div > h3 {
    color: black;
  }
  .scrollmenu > div > h4:last-child {
    color: #de3062;
  }